.btn-outline-secondary {
    --bs-btn-color: #f10000;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #ff0909;
    --bs-btn-hover-bg: #6c757d;
    --bs-btn-hover-border-color: #2298ff;
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0f171f;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
  }