body{
    background-image: url('/assets/wallhaven-lmdxdq_1920x1080.png');
    background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

img {
  background-color: black;
}

#carousel-card{
  margin-top: 100px;
}

.transparent-card {
  background-color: rgba(89, 89, 89, 0.4); /* Replace 0.7 with the desired opacity value (0-1) */
}
.transparent-card-list {
  background-color: rgba(89, 89, 89, 0.5); /* Replace 0.7 with the desired opacity value (0-1) */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 1.50rem;
  color: #fff;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}






